@tailwind base;
@tailwind components;
@tailwind utilities;   

.loader-ball {
  width: 12px;
  height: 12px;
  background: white;
  border-radius: 50%;
  animation: moveBall 0.8s ease-in-out infinite alternate;
}

@keyframes moveBall {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(25px);
  }
}
